body {
    background-color: darkslategray;
    font-family: 'Andale Mono', monospace;
    color:white;
}

.middle {
    width:90%;
    line-height: 300%;
    top: 50%;
    left: 50%;
    position:fixed;
    transform: translate(-50%, -50%);
    text-align: center;
}

.middle h2 {
    color:lightgray;
}
h1 {
    font-size: 265%;
}
h2 {
    font-size: 125%;
}

.title {
    width:90%;
    top: 3%;
    left: 4%;
    position:fixed;
}

.section {
    flex: 30%;
    margin-right: 5%;
}

.body {
    top: 11%;
    left: 6%;
    position: fixed;
    font-size: 168%;
    display: flex;
}