body {
    background-color: darkslategray;
    font-family: 'Andale Mono', monospace;
    color:white;
}

.middle {
    width:90%;
    line-height: 300%;
    top: 50%;
    left: 50%;
    position:fixed;
    transform: translate(-50%, -50%);
    text-align: center;
}